.form-container {
	margin: 2rem auto;
	border: 1px solid var(--color-light-2);
	width: 60%;
	background-color: var(--color-light-1);
	box-shadow: 0 2rem 4rem 0.5rem rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-bottom: 5rem;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
}

.form__label {
	font-size: 1.5rem;
}

.form__input {
	padding: 0.5rem 1rem;
	border-radius: 3px;
	border: 1px solid var(--color-dark-1);
	margin-bottom: 1rem;
	line-height: 1.5;
}

.form__input:focus {
	outline: none;
}

.form__submit {
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
	text-decoration: none;
	margin-right: 1rem;
	border-radius: 5px;
	text-align: center;
	border: none;
	background-color: var(--color-primary-dark);
	color: var(--color-dark-1);
	width: fit-content;
	margin: 0 auto;
	margin-top: 1rem;
}

.form__submit:hover {
	color: var(--color-dark-2);
	background-color: var(--color-primary-light);
	cursor: pointer;
}

.form__submit:focus {
	outline: none;
}

.btn-group {
	display: flex;
	align-items: center;
}
